.boton-limpiar {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .boton-limpiar, .boton-limpiar span {
  transition: 200ms;
 }
 
 .boton-limpiar .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 .boton-limpiar .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .boton-limpiar svg {
  width: 15px;
  fill: #eee;
 }
 
 .boton-limpiar:hover {
  background: #ff3636;
 }
 
 .boton-limpiar:hover .text {
  color: transparent;
 }
 
 .boton-limpiar:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .boton-limpiar:focus {
  outline: none;
 }
 
 .boton-limpiar:active .icon svg {
  transform: scale(0.8);
 }

 .hidden {
  display: none;
 }